body {
  background-color: aliceblue;
}
#kebede{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.rip{
  background-color: blue
  ;
}
.yt{
  background-color: yellow;
}
.jk{
  background-color: whitesmoke;
}
.pink{
  color: aqua;
}